*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html,body {
    height: 100%;
    width: 100%
}

body{
    background-color: #0c0718;
    color: cyan;
}

/* HEADER  */
header{
    background-color: rgb(16, 16, 61);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap : 15px;
}

.navbar a{
    text-decoration: none;
    color:#B0A9E5;
    margin: 10px;
    transition: 0.2s;
}

.navbar a:hover{
    color: #7546E8;
}

.nav-social a{
    text-decoration: none;
    color:rgb(126, 82, 245);
    font-weight : bold;
    margin : 5px;
}


/* HERO */

.hero{
    padding: 40px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 28px;
}

.hero span {
    color: #7546E8;
}

.button{
    margin: 10px auto;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    display: block;
    font-weight: bold;
    text-align: center;
}

.button1{
    background-color:  #1A2CA3;
    color: #fff;
    margin-top: 40px;
}

.button1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px #1A2CA3;
}

.button2{
    background-color: #C9BEFF;
    color: #000;
}

.button2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #C9BEFF;
}