*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
    padding-top: 70px;
}

body{
    background-color: #0c0718;
    color: cyan;
}

/* HEADER  */
header{
    background-color: rgb(16, 16, 61);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap : 15px;
    box-shadow: 0 0 10px #1C4D8D;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 264;
}

.navbar a{
    text-decoration: none;
    color:#B0A9E5;
    margin: 10px;
    transition: 0.2s;
}

.navbar a:hover{
    color: #7546E8;
}

.nav-social a{
    text-decoration: none;
    color:rgb(126, 82, 245);
    font-weight : bold;
    margin : 5px;
}


/* HERO */

.hero{
    padding: 40px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero span {
    color: #7546E8;
}

.button{
    margin: 10px auto;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    display: block;
    width: 300px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.button1{
    background-color:  #1A2CA3;
    color: #fff;
    margin-top: 40px;
}

.button1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px #1A2CA3;
}

.button2{
    background-color: #C9BEFF;
    color: #000;
}

.button2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #C9BEFF;
}

/* SECTION */

section{
    padding: 30px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ABOUT ME */

.about-me{
    background-color: #6c4bb833;
    backdrop-filter: blur(15px);
    padding: 20px;
    margin: 15px auto;
    border-radius: 15px;
    border: 1px solid rgba(200,179,246,0.2);
    max-width: 600px;
    transition: 0.2s;
    line-height: 1.5;
    word-spacing: 2px;
}

.about-me p{
    font-style: italic;
    margin-bottom: 10px;
}

.about-me:hover{
    transform: translateY(-10px);;
}

/* SKILLS */

.skills span{
    display: inline-block;
    margin: 8px;
    padding: 8px 15px;
    background: #2D1C7F;
    border-radius: 20px;
    color: #C8B3F6;
}

/* PROJECTS */

.my-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-projects p{
    color:#B0A9E5;
}

.pbtn{
    display: block;
}

.pbtn1{
    background-color: #8CA9FF;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    margin-left: 20px;
}

.pbtn2{
    background-color: #1C4D8D;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.pbtn1:hover {
    transform: scale(1.04);
    box-shadow: 0 0 15px #8CA9FF;
}

.pbtn2:hover {
    transform: scale(1.04);
    box-shadow: 0 0 15px #1C4D8D;
}

.contact-info a{
    text-decoration: none;
    display: block;
    margin: 10px 0;
    color:#B0A9E5;
}

.contact-info i{
    color: #7546E8;
}

.contact-info a:hover{
    color: #7546E8;
}

/* FOOTER */

footer{
    padding: 15px;
    text-align: center;
    background-color: #0F2854;
}

/* MEDIA QUERIES */

@media (min-width: 768px){

    body{
        padding-top: 0;
    }

    header{
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 20px;
    }

    .hero{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero h2 {
        font-size: 42px;
        margin-bottom: 0;
    }

    .button{
        display: inline-block;
        margin: 20px 10px;
        width: 190px;
    }

    section{
        padding: 60px;
    }

    .my-projects{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

}